@model GreenStore.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword) {
                @Html.ActionLink("Đổi mật khẩu", "ChangePassword")
            }
            else {
                @Html.ActionLink("Đặt mật khẩu", "SetPassword")
            }
        </p>
        <p>
            Số điện thoại: @(Model.PhoneNumber ?? "Chưa có") [
            @if (Model.PhoneNumber != null) {
                @Html.ActionLink("Thay đổi", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Xóa", "RemovePhoneNumber")
            }
            else {
                @Html.ActionLink("Thêm", "AddPhoneNumber")
            }
            ]
        </p>
        @*<p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>*@
        @*<p>
            Two Factor Enabled: @(Model.TwoFactor)
            @if (Model.TwoFactor) {
                @Html.ActionLink("[Disable]", "DisableTFA")
            }
            else {
                @Html.ActionLink("[Enable]", "EnableTFA")
            }
        </p>*@
        @*<p>
            Two Factor Browser Remembered?: @Model.BrowserRemembered
            @if (Model.BrowserRemembered) {
                @Html.ActionLink("[Forget]", "ForgetBrowser")
            }
            else {
                @Html.ActionLink("[Remember]", "RememberBrowser")
            }
        </p>*@
    </div>
</div>
