@model GreenStore.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có muốn xóa sản phẩm</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Catagorie.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catagorie.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPictureUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPictureUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
