<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/Content/images/green.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Green Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/card.css">
</head>
<body>

            <div class="bs-component">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("GREEN STORE", "Index", "Home", null, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lý<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Đơn hàng", "Index", "Orders")</li>
                                            <li>@Html.ActionLink("Loại hàng", "Index", "Catagories")</li>
                                            @*<li>@Html.ActionLink("Phân tích", "Index", "Analytics")</li>*@
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Roles Admin</li>
                                            <li>@Html.ActionLink("Quản lý tài khoản quản trị", "Index", "RolesAdmin")</li>
                                            <li>@Html.ActionLink("Quản lý người dùng", "Index", "UsersAdmin")</li>
                                        </ul>
                                    </li>
                                }
                                <li>@Html.ActionLink("Mặt hàng", "Index", "Items")</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Về chúng tôi<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Về chúng tôi", "About", "Home")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                                    </ul>
                                </li>
                            </ul>
                            
                            @Html.Partial("_LoginPartial")
                           
                        </div>

                    </div>
                </div>
                <br />
                <br />
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Green Store by GREENWORLD</p>
                    </footer>
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>
</html>
